# Imports

In [26]:
import pandas as pd
import numpy as np

# Reading Existing Data in Memory

In [18]:
data_dir = 'Data/goodbooks-10k'

books_path = data_dir + '/books.csv'
ratings_path = data_dir + '/ratings.csv'
books_tag_path = data_dir + '/book_tags.csv'
tags_path = data_dir + '/tags.csv'

In [3]:
books_df = pd.read_csv(books_path)

In [9]:
ratings_df = pd.read_csv(ratings_path)

In [19]:
tags_df = pd.read_csv(tags_path)

# Data Exploration

In [4]:
books_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [6]:
books_df.image_url[0]

'https://images.gr-assets.com/books/1447303603m/2767052.jpg'

In [7]:
books_df.shape

(10000, 23)

In [10]:
ratings_df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [11]:
books_df.loc[books_df.book_id == 9296, :]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
9295,9296,4887,4887,821815,75,465016901,9.780465e+12,"Alice Miller, Ruth Ward",1979.0,Das Drama des begabten Kindes und die Suche na...,...,9563,10830,537,189,490,2025,3548,4578,https://images.gr-assets.com/books/1339395245m...,https://images.gr-assets.com/books/1339395245s...

In [12]:
books_df.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [15]:
book_tags_df = pd.read_csv(books_tag_path)

In [16]:
book_tags_df.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [20]:
tags_df.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

## Books with English Language Code

In [32]:
books_df[books_df.language_code.isin(['eng','en-US', 'en-CA', 'en-GB'])].head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [23]:
books_df.language_code.unique()

array(['eng', 'en-US', 'en-CA', nan, 'spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur',
       'dan', 'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'],
      dtype=object)

In [31]:
books_df[books_df.language_code.isna()].original_title.values

array(['Life of Pi', 'The Five People You Meet in Heaven',
       'A Christmas Carol', ..., 'Ladder of Years',
       'Night Light: A Restoration Novel', 'The First World War'],
      dtype=object)

In [36]:
books_df[books_df.isbn == '316015849'].isbn13.astype('str')

2    9780316015840.0
Name: isbn13, dtype: object

In [90]:
books_us = books_df.loc[books_df.language_code.isin(['en-US']), ['book_id','authors', 'original_title']]

In [91]:
authors = books_us.authors.value_counts().index

In [99]:
sub_authors_list = authors[20:50]

In [100]:
for author in sub_authors_list:
    print(author)

R.A. Salvatore
P.C. Cast, Kristin Cast
Tamora Pierce
Bernard Cornwell
Vince Flynn
Terry Pratchett
Margaret Weis, Tracy Hickman
Jeff Kinney
Bill Bryson
Kathy Reichs
Jeffrey Archer
C.S. Lewis
Carl Hiaasen
Robert Crais
Natsuki Takaya, Alethea Nibley, Athena Nibley
Jim Butcher
Terry Goodkind
Erin Hunter
Jeffery Deaver
Raymond E. Feist
Lemony Snicket, Brett Helquist
J.D. Robb
Melissa de la Cruz
Sue Grafton
Garth Nix
Robert Jordan
Steve Berry
Ally Carter
Francine Rivers
Anne Rice

In [101]:
sub_books_list = books_us.loc[books_us.authors.isin(sub_authors_list), ['book_id','authors', 'original_title']]

In [102]:
sub_books_list

,book_id,authors,original_title
245,246,"P.C. Cast, Kristin Cast",Marked
373,374,Bill Bryson,A Short History of Nearly Everything
391,392,Jeff Kinney,Greg Heffley's Journal
448,449,"P.C. Cast, Kristin Cast",Betrayed: a House of Night Novel
449,450,Jim Butcher,Storm Front
...,...,...,...
9535,9536,"Natsuki Takaya, Alethea Nibley, Athena Nibley",フルーツバスケット 15
9672,9673,"Natsuki Takaya, Alethea Nibley, Athena Nibley",フルーツバスケット 3
9683,9684,Terry Goodkind,The Law of Nines
9865,9866,Jeffrey Archer,A Twist in the Tale
9962,9963,Raymond E. Feist,Krondor: The Betrayal

In [103]:
sub_books_list.to_csv('Data/sub_authors_us_20_50.csv')

In [104]:
authors.shape

(1263,)

In [105]:
books_us.shape

(2070, 3)