# Imports

In [52]:
import pandas as pd
import numpy as np

# Reading Existing Data in Memory

In [53]:
data_dir = 'Data/goodbooks-10k'

books_path = data_dir + '/books.csv'
ratings_path = data_dir + '/ratings.csv'
books_tag_path = data_dir + '/book_tags.csv'
tags_path = data_dir + '/tags.csv'

In [54]:
books_df = pd.read_csv(books_path)

In [55]:
ratings_df = pd.read_csv(ratings_path)

In [56]:
tags_df = pd.read_csv(tags_path)

# Data Exploration

In [57]:
books_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [58]:
books_df.image_url[0]

'https://images.gr-assets.com/books/1447303603m/2767052.jpg'

In [59]:
books_df.shape

(10000, 23)

In [60]:
ratings_df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [61]:
books_df.loc[books_df.book_id == 5919, :]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
9295,9296,4887,4887,821815,75,465016901,9.780465e+12,"Alice Miller, Ruth Ward",1979.0,Das Drama des begabten Kindes und die Suche na...,...,9563,10830,537,189,490,2025,3548,4578,https://images.gr-assets.com/books/1339395245m...,https://images.gr-assets.com/books/1339395245s...

In [31]:
books_df.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [32]:
book_tags_df = pd.read_csv(books_tag_path)

In [33]:
book_tags_df.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [34]:
tags_df.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [35]:
books_df.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [36]:
books_df[books_df.authors == 'Roxane Gay']

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
2738,2739,18813642,18813642,26563816,25,62282719,9.780062e+12,Roxane Gay,2014.0,Bad Feminist,...,41012,43890,5030,1046,2612,9283,17369,13580,https://images.gr-assets.com/books/1421292744m...,https://images.gr-assets.com/books/1421292744s...
8408,8409,18467818,18467818,26127435,17,802122515,9.780802e+12,Roxane Gay,2014.0,An Untamed State,...,10809,12037,2219,280,624,1953,4550,4630,https://images.gr-assets.com/books/1395145925m...,https://images.gr-assets.com/books/1395145925s...

In [37]:
ratings_df[ratings_df.book_id == 2739].user_id.unique()

array([19363,  5700,  3058,  1389,  9671, 18637, 32568, 40385,   889,
       17388, 40034, 16184, 19271,  5553,  3875,   609,  4068,   183,
       41715, 26498,  1646,   213, 30155, 18597, 25346,  6900,   858,
        1373, 18466, 12472, 20544, 29767, 43642,  6430,  8035,  7209,
       33690, 21138,  7837, 11139,  8592,   572,    56, 45968, 13036,
        1553,  5472,  1692, 21220, 33429, 17813, 39605, 13207,  1510,
       23067, 32914,  7620,   620, 45466, 12516, 24984, 25070, 20193,
        5197, 45870,  8050,  7043, 13184, 10568,  1633,  1574, 32600,
       48861, 29285, 20192,  6981, 48901, 29754, 12774, 10446,  6680,
       42476, 35893,  5523,  1213, 48163, 12483,  3234,  6963, 29261,
        5989, 42893, 13060, 49205, 49288, 49289, 49295, 49297,   692,
       21246,   545,  3062, 24202, 49509, 17755,   359, 43201,  2432,
       18945, 40748, 25031, 49833, 19928, 25528, 48353, 15007, 35728,
       15357, 21691, 17491, 50104, 50133, 17956, 13103,  8363, 10017,
       17889, 38773, 50295,  1121, 17101, 34442, 32681, 18339, 40276,
       36902,  1920, 24508, 12085, 19691, 13029, 12277, 48598, 11703,
       17105, 29646, 28172, 37185,   803, 33278,  3025, 16408, 34157,
       50905,  6131, 19441, 51023, 43900, 48979,  9295, 29702, 15542,
       51166,  8720, 51274,  9680, 51385, 42197,  2664, 27579, 45777,
       14421, 32132, 51514, 49176, 51656,  2383, 51786, 20067, 46655,
        8613, 18465, 15702, 45701, 27255, 48891,  3033,  9979, 51036,
       34907,  1987, 14902,  3335, 52298, 17349,  4727,  9967, 52347,
        6143, 30093, 42464, 45513, 52423, 16043, 31222, 12542,   181,
        2417,  5146,  4482, 26621, 52570, 13399, 48871, 16484,   601,
       10807, 26337, 52194,  6956, 39209,  8598, 42471, 49574, 22633,
        8876, 21998, 52134,  4864, 46225, 53112,   560, 36736, 50397,
       10942,  8798, 53211, 28597,  7940, 48440,  3034, 48230, 47767,
        1673, 31738,    27,  4336, 19302,  1896,  9744, 41357, 15549,
       45502, 37402, 19735,  6950, 47115, 12981, 44830, 53413, 21273,
       26866, 32081, 41226,  1326, 18104,  2226, 50492, 48020,  1986,
       10463, 38296, 34211, 19885, 22664,  1097, 13426,  3333, 46726,
       42036, 51041, 19559, 33538,  1895, 53351,  5836, 47985, 25032,
       11740, 29852, 45815, 25889,  9317, 22360, 10818, 31781, 15703,
        1298, 13986,  1795, 14430,  8256, 34639,  2999,   227, 32331,
       37806, 11393,   622, 37134, 31646, 50955, 14949, 47339, 24005,
       32934, 50899,  1118, 19366,  5145,  6581,   596, 17516,  8466,
        2147, 16611, 26449, 23315,   218, 49663,  8486,  8804, 19603,
       29361, 22991, 18469, 40335, 41303, 22830, 14276, 52947, 28433,
        8470, 50398, 42070, 27627, 18091, 30999, 47259, 27321, 51013,
       30851, 47930, 31818, 14933,  6978, 48250, 15583, 24861,  6982,
       18840, 18563, 50507,   582, 22628, 13494,  3458, 37749,  8478,
       39904, 10823, 15873,  5940])

## Books with English Language Code

In [38]:
books_df[books_df.language_code.isin(['eng','en-US', 'en-CA', 'en-GB'])].head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [39]:
books_df.language_code.unique()

array(['eng', 'en-US', 'en-CA', nan, 'spa', 'en-GB', 'fre', 'nl', 'ara',
       'por', 'ger', 'nor', 'jpn', 'en', 'vie', 'ind', 'pol', 'tur',
       'dan', 'fil', 'ita', 'per', 'swe', 'rum', 'mul', 'rus'],
      dtype=object)

In [40]:
books_df[books_df.language_code.isna()].original_title.values

array(['Life of Pi', 'The Five People You Meet in Heaven',
       'A Christmas Carol', ..., 'Ladder of Years',
       'Night Light: A Restoration Novel', 'The First World War'],
      dtype=object)

In [41]:
books_df[books_df.isbn == '316015849'].isbn13.astype('str')

2    9780316015840.0
Name: isbn13, dtype: object

In [42]:
books_us = books_df.loc[books_df.language_code.isin(['en-US']), ['book_id','authors', 'original_title']]

In [43]:
authors = books_us.authors.value_counts().index

In [44]:
sub_authors_list = authors[100:200]

In [45]:
for author in sub_authors_list:
    print(author)

Caragh M. O'Brien
John Grisham
Pseudonymous Bosch, Gilbert Ford
Richard Castle
Augusten Burroughs
Heather Brewer
Philippa Gregory
Seth Godin
Darynda Jones
Brian Jacques
Jessica Day George
Alexander McCall Smith
Piers Anthony
James Rollins
Thomas L. Friedman
William Shakespeare
Iris Johansen
Ken Follett
Sarah Addison Allen
Cecelia Ahern
James Patterson, Michael Ledwidge
Amy Tan
J.R.R. Tolkien
Brent Weeks
Jeaniene Frost
Karen Marie Moning
Neal Stephenson
Mark Cotta Vaz
Lauren Conrad
Lynsay Sands
Amanda Hocking
Kelley Armstrong
Jenny Han
Clive Barker
Donald Miller
Steve Martin
Robert A. Heinlein
Scott Westerfeld
Chuck Palahniuk
Mercedes Lackey
Michael  Grant
Sarah Waters
Mary Roach
David Brin
Anne McCaffrey
Conn Iggulden
Susan Elizabeth Phillips
Jasper Fforde
A.A. Milne, Ernest H. Shepard
Sandra Brown
Nelson DeMille
Nalini Singh
Sarah Dessen
Glen Cook
Christopher Paolini
Ellen Hopkins
Lara Adrian
Alison Weir
J.R. Ward
Richard Kadrey
Sara Zarr
Christopher Pike
Marian Keyes
Stephen R. Covey
Michael   Lewis
Christina Lauren
James A. Michener
L.M. Montgomery
Chloe Neill
Amy A. Bartol
Michael Crichton
David Foster Wallace
Julie Garwood
Daniel C. Dennett
Elizabeth George Speare
Guillermo del Toro, Chuck Hogan
Sophie Kinsella
Joshilyn Jackson
Kresley Cole
Lisa Scottoline
Dan Ariely
Jon Ronson
Gail Tsukiyama
Marilynne Robinson
C.C. Hunter
Claudia Gray
Frank E. Peretti
Malcolm Gladwell
Susane Colasanti
Kate Atkinson
Matt Ridley
Chris Anderson
Terry Brooks
Richard Paul Evans
Sandra Boynton
Dan Simmons
Shel Silverstein
Plum Sykes
Julia Quinn
Toni Morrison

In [47]:
sub_books_list = books_us.loc[books_us.authors.isin(sub_authors_list), ['book_id','authors', 'original_title']]

In [48]:
sub_books_list

      book_id              authors                      original_title
6           7       J.R.R. Tolkien  The Hobbit or There and Back Again
52         53  Christopher Paolini                              Eragon
154       155       J.R.R. Tolkien                      The Two Towers
160       161       J.R.R. Tolkien              The Return of the King
192       193     Malcolm Gladwell      Outliers: The Story of Success
...       ...                  ...                                 ...
9913     9914        Iris Johansen                                 NaN
9936     9937    Caragh M. O'Brien                            Promised
9945     9946   Thomas L. Friedman            From Beirut to Jerusalem
9948     9949           Jon Ronson          The Men Who Stare at Goats
9986     9987        Iris Johansen                   Chasing The Night

[269 rows x 3 columns]

In [49]:
sub_books_list.to_csv('Data/sub_authors_us_100_200.csv')

In [50]:
authors.shape

(1263,)

In [51]:
books_us.shape

(2070, 3)